@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* variables  */
:root{
    --main-color: #f11527;
    --text-color:#ffffff;
    --bg-color:  #020307;
}

body {
    min-height: 100vh;
    margin: 0 auto; /* Center the content vertically */
    overflow-y: scroll; /* Add vertical scroll if content exceeds maximum height */
    position: relative;
    background-color: #1e1f26;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    transition: 0.5s; 
}
header.shadow{
    background: rgba(2, 2, 32, 0.986);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
}
header.shadow .navbar a{
    color: var(--text-color);
}
header.shadow .logo{
    color: rgb(255, 255, 255);
}


.logo{
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
}
.bx{
    color: rgb(226, 192, 215); /* logo color */
    
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(235, 8, 102);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn{
    padding: 10px 30px;
    background: rgb(1, 35, 80);
    color: #ffffff;
    font-weight: 400;
    border-radius: 20px;
}
.btn:hover{
    background: #fc099f; 
}

/* contact us  */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  }

 
.contact .content {
  text-align: center; /* Center align content */
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color:white;
}

.contact .content p {
  font-weight: 500;
  color: white;
}
  
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;


  }

  .container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

  }

  .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
  }

  .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #f3eeee;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
  }

  .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
  }

  .container .contactInfo .box .text h3{
    font-weight: 500;
    color: white;

  }

  .contactform{
    width: 40%;
    padding: 40px;
    background: #f9f9f9;
    border-radius: 20px;

  }
  .contactform:hover {
    transform: scale(1.05); /* Increase size on hover */
  }
  

  .contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;

  }

  .contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  .contactform .inputBox input,
  .contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333 ;
    outline: none;
    resize: none;

  }

  .contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size:16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    
  }

  .contactform .inputBox  input:focus ~ span,
  .contactform .inputBox  input:valid ~ span
  .contactform .inputBox  textarea:focus ~ span,
  .contactform .inputBox  textarea:valid ~ span{
   color: #d01515;
   font-size: 12px;
   transform: translatey(-20px);
  }

  .contactform .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }



/* Style for the search input */
.navbar form input[type="text"] {
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove outline */
    width: 200px; /* Set the width */
    margin-right: 5px; /* Add some space to the right of the input */
}

/* Style for the search button */
.navbar form button[type="submit"] {
    padding: 8px; /* Adjust padding as needed */
    border: none; /* Remove border */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor */
}

/* Style for the search icon */
.navbar form button[type="submit"] i {
    margin-right: 5px; /* Add some space to the right of the icon */
}

main {
    padding: 20px;
}

.deals-section {
    margin-bottom: 50px;
}

.deal {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

.deal h3 {
    margin-top: 0;
}




/* footer  */
footer{    
    background-color:rgba(2, 2, 32, 0.986);
    position:absolute;
    width: 100%;
}
.footercontainer{
    width: 100%;
    height: 210px;
    padding: 70px 30px 20px;
}
.social{
    display: flex;
    justify-content: center;
}
.social a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}
.social a i{
    font-size: 2em;
    color: rgba(2, 2, 32, 0.986);
    opacity: 0.9;
}
/* hover effect on icons */
.social a:hover{
    background-color: rgba(2, 2, 32, 0.986);
    transition: 0.5s;
}
.social a:hover i{
    color: rgb(255, 0, 128);
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type:nonedisc;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color:rgba(1, 1, 15, 0.986);
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #ffffff;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* responsive  */
@media (max-width: 1080px){
    .home-text{
        padding: 0 100px;
    }
}
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
}
@media (max-width: 774px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
        color: var(--bg-color);
    }
    header.shadow #menu-icon{
        color: var(--text-color);
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
        transition: 0.2s all linear;
        text-align: center;
        width: 100%;
    }
    .navbar a{
        color: var(--text-color);
    }
    .navbar a:hover{
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    }
}
@media (max-width: 472px){
    .newsletter form .email{
        width: auto;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .container{
        width: 100%;
        min-height: 500px;
    }
    header{
        padding: 6px 4%;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .play{
        right: 2rem;
        bottom: 8%;
    }
    .play .bx{
        padding: 7px;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
}@media(max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul{
        width: 100%;
        text-align: center;
        margin: 10px;


    }
}
@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom:  40px;
    }
    .contact .contactInfo{
        width: 100%;
    }
  }